* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Norse Bold";
    src: url(font/Norse-Bold.otf) format("opentype");
}

.container {
    display: flex;
    flex-direction: row;
}

/* Styles for left section. */

.image-section {
    background-image: url(images/background-image.jpg);
    background-size: 100%;
    width: 40vw;
    height: 150vh;
    display: flex;
    position: relative;
}

.logo {
    background-color: rgba(165, 165, 165, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 20%;
}

.logo-img {
    width: 120px;
    height: 160px;
}

.logo-name {
    font-family: "Norse Bold", sans-serif;
    font-size: 120px;
    color: white;
}

.photo-credit {
    text-align: center;
    align-self: flex-end;
    flex: auto;
    color: rgb(220, 220, 220);
    padding-bottom: 30px;
    font-size: 16px;
}

.image-section a {
    color: rgb(220, 220, 220);
}

.image-section a:visited {
    color: rgb(175, 175, 175);
}

.image-section a:hover {
    text-decoration: none;
}

/* Styles for right section */

body {
    background-color: rgb(245, 245, 245);
    --left: 50px;
}

.heading-text {
    margin-top: 200px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 70px;
    margin-left: var(--left);
}

p + p {
    margin-top: 30px;
}

.form-section {
    background-color: white;
    padding: 20px 0px 40px var(--left);
    box-shadow: 0px 5px 5px rgb(220, 220, 220);
}

h2 {
    margin-bottom: 20px;
}

.content-section {
    width: 60vw;
}

label {
    display: block;
    color: rgb(59, 70, 83);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
    width: 600px;
}

input {
    width: 250px;
    height: 30px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 200ms;
    text-indent: 5px;
}

input:focus {
    border: 2px solid rgb(78, 117, 234);
    outline: none;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
}

input[type="password"]:invalid {
    border: 2px solid red;
    outline: none;
}

input[type="password"]:invalid + div::after {
    content: "* Password do not match";
    position: absolute;
    color: darkred;
    font-size: 12px;
}

button {
    margin: 30px 0px 30px var(--left);
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    background-color: #596D48;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
    transition-duration: 200ms;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px #80d13e;
    background-color: #657b51;
}

button + p {
    margin-left: var(--left);
    font-size: 16px;
}

button + p a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}


